# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
*.js
*.js.map

# Ignore TypeScript declaration files
*.d.ts

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directory
dist/
build/

# Ignore IDE specific files
.vscode/
.idea/